body {
  /* background-color: #c6efc8;#C6EFC8 */
  background-color:#C6EFC8 ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "Poppins ";
  src: local("Poppins "), url("./Fonts/Poppins-VariableFont_wght.ttf") format("truetype");
}

.Poppins-font {
  font-family: "Poppins " !important;
}
